*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
    word-spacing: -2px;
}

html{
    font-size:10px;
    padding:0;
    position:relative;
    overflow-x:hidden;
}

body{
    background-image: url(img/pexels-lumn-167699.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height:230vh;
}
/*menu styling*/
h1{
    font-size:40px;
    font-weight:bold;
    color:#191919;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

.message{
    background-color:#181818;
    color:white;
    position:absolute;
    top:-250px;
    left:0;
    width:100%;
    height:250px;
    padding:20px;
    transition:top 300ms cubic-bezier(0.17,0.04,0.03,0.04);
    overflow:hidden;
    box-sizing: border-box;
    text-align:center;
}

.message h1{
   color:white;
   margin-bottom:30px;
}

.message p{
    font-size:1.8rem;
    margin:10px;
    letter-spacing: 1.4px;
}

#toggle{
    position:absolute;
    appearance: none;
    cursor:pointer;
    left:-100%;
    top:-100%;
}

#toggle + label{
    position: absolute;
    cursor:pointer;
    padding:10px;
    background:white;
    width:80px;
    height:80px;
    border-radius:60%;
    padding:12px 20px;
    color:#000;
    font-size:22px;
    text-align: center;
    cursor: pointer;
    margin-top:20px;
    transition:all 500ms ease;
    margin-left:45vw;
}
label{
    transform:rotate(180deg);
}

#toggle + label:after{
    content:"";
}

label .fa-solid{
    margin-top:25%;
    font-size:3rem;
    transition:all 0.5s ease-in-out;
}

.container{
    transition:margin 300ms cubic-bezier(0.17,0.04,0.03,0.94);
    padding:5em 3em;
}

#toggle:checked ~ .message{
    top:0;
}

#toggle:checked ~ .container{
    margin-top:250px;
}

#toggle:checked ~ label{
    transform:rotate(360deg);
    background-color:#181818;
    color:white;
}

/*scrollbar styling*/

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-thumb{
    background-color:#333;
    height:10%;
    margin: 0px auto;
}

/*header styling*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
header h2.front{
    margin-left:-6rem;
    font-size:3rem;
    text-align:center;
    margin-bottom:1rem;
    font-family: 'IBM Plex Serif', serif;
    position:relative;
    left:0;
    top:0;
    color:black;

}

div.front{
    margin-left:2rem;
    border-bottom:1px solid black;
    width:15vw;
    opacity:0.7;
    transition:all .5s ease-in-out;
    cursor:pointer;
    border-top-width: 0px;
    margin-top:12rem;
    float:left;
}

div.front:hover{
opacity:1;
text-shadow: -1px 4px 2px rgba(0,0,0,0.6);
transform:translateY(10px);
border-bottom:1px solid rgb(72, 72, 72);

}
h2.backend{
    margin-left:-6rem;
    font-size:3rem;
    text-align:center;
    margin-bottom:1rem;
    font-family: 'IBM Plex Serif', serif;
    text-decoration: none;
}

div.backend{
    margin-left:2rem;
    border-bottom:1px solid black;
    width:15vw;
    opacity:0.7;
    transition:all .5s ease-in-out;
    cursor:pointer;
    border-top-width: 0px;
    position:relative;
    margin-top:12rem;
    float:left;
    left: 65vw;
}

div.backend:hover{
    opacity:1;
    text-shadow: -1px 4px 2px rgba(0,0,0,0.6);
    transform:translateY(10px);
    border-bottom:1px solid rgb(72, 72, 72);
}

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap');

/*menu styling*/


/*icon for menu styling*/

#menuBar{
    position:fixed;
    z-index:4;
    width:50px;
    height:50px;
    cursor: pointer;
    position:fixed;
    top:5vh;
    right:3vw;
    cursor:pointer;
    overflow:hidden;
}

#menuBar #bar1, #bar2, #bar3{
    width:30px;
    height:5px;
    background-color:rgb(0, 0, 0);
    margin-top:10%;
    margin-left:25%;
    border-radius:20px;
    transition:all 0.27s ease-in-out;
}

#menuBar:hover #bar2{
    transform:translateX(-90px);
}

#menuBar:hover #bar1{
    transform:rotate(50deg) translate(0, 15px);
}
#menuBar:hover #bar3{
    transform:rotate(-50deg) translate(0, -15px);
}
/*menu*/

a{
    text-decoration:none;
    color:black;
}

#navigation{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:70px;
    border-top:2px solid #666;
    background-size:cover;
    transition:all 0.5s linear;
    display:none;
}

#nav1{
display:none;
}
nav ul{
    width:100%;
    height:100%;
    position:absolute;
    justify-content: center;
    
}

nav li{
    font-family: 'Cabin', sans-serif;
    display:flex;
    flex-direction: row;
    flex-direction: space-around;
    width:10%;
    float:left;
    justify-content:center;
    align-items:center;
    margin-left:180px;
    font-size:2rem;
    cursor:pointer;
    height:70px;
    color:rgb(0, 0, 0);
    text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.6);
}

nav li:hover{
    color:white;
    opacity:1;
    box-shadow: 0px 0px 5px 200px rgba(0,0,0,0.5) inset;
-webkit-box-shadow: 0px 0px 5px 200px rgba(0,0,0,0.5) inset;
-moz-box-shadow: 0px 0px 5px 200px rgba(0,0,0,0.5) inset;
}

a li{
    color:black;
    text-decoration: none;
}

footer{
    position:relative;
    top:205vh;
    left:0;
    width:100%;
    height:4vh;
    font-size:2rem;
    opacity:0.6;
}


/*media*/
@media (max-width:768px) {
    div.front{
        position:relative;
        top:10vh;
        left:25%;
        width:40vw;
    }

    h2.front{
        border-left:1px solid gray;
    }

    h2.backend{
        border-right:1px solid gray;
        margin-left:3rem;
        width:40vw;
    }

    div.backend{
        position:relative;
        top:30vh;
        left:-20%;
        width:40vw;
    }

    #navigation{
        position:fixed;
        top:0;
        left:0;
        width:0%;
        height:100%;
        animation:none;
        background-color:none;
        border:none;
    }

    nav ul{
        display:flex;
        flex-direction: column;
        position:relative;
        align-items:center;
        justify-content:center;
        top:0;
        right:-50vw;
        width:4%;
        
    }

    nav li{
        width:40%;
        border-radius:10%;
        text-align: center;
        position:relative;
        top:0;
        display:flex;
        flex-direction:column;
        margin-top:10px;
        color:white;
        box-shadow: 0px 0px 19px 200px rgba(0,0,0,0.7) inset;
-webkit-box-shadow: 0px 0px 19px 200px rgba(0,0,0,0.7) inset;
-moz-box-shadow: 0px 0px 19px 200px rgba(0,0,0,0.7) inset;
transition:all 0.2s linear;
    }

    nav li:hover{
        transform:rotate(10deg);
    }
    .message{
        overflow:scroll;
    }
    #toggle + label{
       margin-left:40vw;
    }
    footer{
        position:absolute;
        top:205vh;
        font-size:18px;
        text-align:center;
    }
}

/* animations */

@keyframes menu {
    0%{transform:translateX(100vw); opacity:0;}
    100%{transform:translateX(0px); opacity:1;}
}


